@{
    Layout = null;
};
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="Constructzilla - Construction Template" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>Aria Soleh | Coming Soon</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.min.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/css/skin/skin-1.css">
    <link rel="stylesheet" type="text/css" href="~/css/templete.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style-rtl.css">



    <link rel="stylesheet" type="text/css" href="~/css/coming-soon.css">

</head>
<body id="bg">
    <div id="loading-area"></div>
    <div class="page-wraper boxed-full">
        <!-- Content -->
        <div class="blog-page-content style-1 sticky-header">
            <!-- Full Blog Page Contant -->
            <div id="particles-js" class="dez-coming-soon bg-img-fix dez-coming-soon-full  cs-style-1 p-b100 overlay-black-light" style="background-image:url(images/background/bg6.jpg);">
                <div class="container relative z-index2">
                    <div class="dez-coming-bx text-center f-ele-m" dez-top-pos="0">
                        <div class="top-head text-center logo-header">
                            <a>
                                <img src="~/images/logo-white-cu.png" alt="" />
                            </a>
                        </div>
                        <div class="coming-soon-content text-center text-white m-b30">
                            <h2 id="text">به زودی...، صبور باشید</h2>
                            <div class="countdown text-center">
                                <div class="date">
                                    <span class="secs text-primary time"></span>
                                    <span class="time-name">ثانیه</span>
                                </div>
                                <div class="date">
                                    <span class="mins text-primary time"></span>
                                    <span class="time-name">دقیقه</span>
                                </div>
                                <div class="date">
                                    <span class="hours text-primary time"></span>
                                    <span class="time-name">ساعت</span>
                                </div>
                                <div class="date">
                                    <span class="days text-primary time"></span>
                                    <span class="time-name">روز</span>
                                </div>
                            </div>
                            <p>شرکت سوله سازان طاهر آریا با بیش از 25 سال تجربه و اعتبار در ساخت انواع سازه های فلزی با بهره‌گیری از گروه مهندسان متخصص در امر مشاوره ، طراحی و ساخت انواع سوله سبک، صنعتی و … و در اختیار داشتن نیروی با تجربه در امر ساخت (مونتاژ و جوش) و همچنین برخورداری از سالن های مجزا و مجهز، با ظرفیت نامحدود تولید در حال فعالیت می باشد. کلیه مراحل تولید سازه های فلزی مطابق با آئین نامه های معتبر بین المللی و مقررات ملی ساختمان به انجام می رسد. این امر زیر نظر واحدهای کنترل کیفیت کارخانه صورت پذیرفته و برای کلیه پروژه ها و قطعات ساخته شده شناسنامه کیفی تهیه و پس از اتمام کار تحویل کارفرمایان محترم می شود. </p>
                            <p>
                                ________________________________________
                            </p>
                            <p><strong>شماره های تماس</strong></p>

                            <a href ="tel:+98913-151-7109"><strong>0913-151-7109</strong></a>
                            <p></p>
                            <a href="tel:+98913-671-1389"><strong>0913-671-1389</strong></a>
                            <p></p>
                            <a href="tel:+98035-3730-5707"><strong>035-3730-5707</strong></a>


                        </div>
                    </div>
                </div>
            </div>
            <!-- Full Blog Page Contant -->
        </div>
        <!-- Content END-->
    </div>
    <!-- JavaScript  files ========================================= -->
    <script src="~/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="~/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/plugins/countdown/jquery.countdown.js"></script><!-- JQUERY COUNTDOWN -->
    <script src="~/plugins/scroll/scrollbar.min.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="~/js/coming-soon.js"></script><!-- COMING SOON JS -->
    <script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
    <script src="~/js/dz.ajax.js"></script><!-- CONTACT JS  -->

    <script src="~/plugins/particles/particles.js"></script><!-- PARTICLES  -->
    <script src="~/plugins/particles/particles.app.js"></script><!-- PARTICLES  -->

</body>
</html>
